.chat-side
 .side-header
  .side-header__box
   .side-header__box__username
    = current_user.name
   .side-header__box__new-group
    = link_to new_group_path do
     = fa_icon 'edit', class: "contents__btn1" 
   .side-header__box__edit-user
    =link_to edit_user_path(current_user) do
     = fa_icon 'cog', class: "contents__btn1"
 .groups
  = current_user.groups.each do |group|
   .group
    
    .group__name
     = group.name
    .group__message
     メッセージはまだありません。